/* Chrome, Safari, Edge, Opera */
.qty::-webkit-outer-spin-button,
.qtyt::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.qty[type=number] {
    -moz-appearance: textfield;
}