.relatedH2::before{
    content: '';
    position: absolute;
    top: 52%;
    left: -3rem;
    width: 2rem;
    height: 2px;
    background-color: black;
    
}
.relatedH2::after {
    content: '';
    position: absolute;
    top: 52%;
    right: -3rem;
    width: 2rem;
    height: 2px;
    background-color: black;

}